<app-header></app-header>
<br><br>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">mood</i>
          </h2>
          <h5 class="center">Welcome to the Dragoon app!</h5>
          <p class="light">See the list of dragoons or create a new one in the button below.</p>
          <button id="create-button" class="btn-large waves-effect waves-light red lighten-1" routerLink="/create/">New dragoon</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<app-dragoon-list></app-dragoon-list>
