<app-header></app-header>
<br><br>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">remove_red_eye</i>
          </h2>
          <h5 class="center">In the details...</h5>
          <p class="light">See below for all information related to your dragon.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h3>{{dragoon?.name}}</h3>
        <p><b>Type:</b> {{dragoon?.type}}</p>
        <p><b>Created:</b> {{dragoon?.createdAt}}</p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col s12 center">
        <button id="back-button" class="btn-large waves-effect waves-light red lighten-1" (click)="back()">Back</button>
    </div>
  </div>
</div>
