<div class="container">
  <div class="col s6">
    <div class="card" *ngFor="let dragoon of dragoons">
      <div class="card-content">
        <h3>{{dragoon.name}}</h3>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab left"><a routerLink="/detail/{{dragoon.id}}">Detail about dragoon</a></li>
          </ul>
        </div>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a routerLink="/edit/{{dragoon.id}}">Edit</a></li>
          <li class="tab"><a (click)="deleteDragoon(dragoon.id)">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
