<app-header></app-header>
<br><br>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">create</i>
          </h2>
          <h5 class="center">Edit your dragon.</h5>
          <p class="light">To edit your dragon, update the information below.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <form [formGroup]="formEditDragoon" class="col s12 center">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="name" placeholder="Name" id="name" type="text" class="validate" value="{{dragoon?.name}}">
          <label class="active" for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="type" id="type" type="text" class="validate" value="{{dragoon?.type}}">
          <label class="active" for="type">Type</label>
        </div>
      </div>
      <button id="back-button" class="btn-large waves-effect waves-light red lighten-1 margin-button" (click)="back()">Back</button>
      <button id="create-button" class="btn-large waves-effect waves-light" (click)="editDragoon()">To edit</button>
    </form>
  </div>
</div>
